<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 격자 카메라 촬영을 위한 카메라 권한. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- camera_android_camerax가 추가하는 필수 camera.any feature를 선택 기능으로
         낮춘다. 카메라가 없는 기기에서도 갤러리 등록 기능은 사용할 수 있어야 한다. -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false"
        tools:replace="android:required"/>
    <!-- image_picker는 시스템 picker가 선택한 파일에만 접근하므로 광범위한
         READ_MEDIA_IMAGES/READ_EXTERNAL_STORAGE 권한이 필요하지 않다. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <!-- 사진 촬영에서 오디오를 사용하지 않으므로 camera plugin의 권한을 제거한다. -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>
    <!-- API 29(Android 10) 이하에서 gal 패키지가 갤러리에 저장할 때 필요한
         쓰기 권한. API 30+에서는 스코프드 스토리지를 사용한다. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:replace="android:maxSdkVersion"/>
    <!-- 데이터 이전은 OS의 기기 간 전송(D2D)에만 위임한다. 클라우드 자동 백업은
         앱당 25MB 한도로 사진을 담을 수 없으므로 사용하지 않는다. allowBackup을
         false로 두면 제조사에 따라 D2D까지 막히므로 true로 두고, 무엇을 넘길지는
         dataExtractionRules에서만 결정한다. -->
    <application
        android:label="Body Frame"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
